/*.loader-container {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 10px;
    z-index:1000;
}

.loader-container .loader1 {
    position: absolute;
    top: 50%;  
    left: 50%;
    width: 200px;
    height: 200px;
    border: solid 8px transparent;
    border-top-color: #6babae;
    border-left-color: #6babae;
    border-radius: 50%;
    -webkit-animation: ease-out;
    animation: loaderD 1.2s linear infinite;
}

.loader-container .loader2 {
    position: absolute;
    top: 50%;  
    left: 50%;
    width: 170%;
    height: 170%;
    border: solid 8px transparent;
    border-top-color: #a4a5a5;
    border-left-color: #a4a5a5;
    border-radius: 50%;
    animation: loaderD2 1.2s linear infinite;

}

@keyframes loaderD {
    0%{
        transform: rotate (0deg);
    }
    100% {
        transform: rotate (360deg);
    }
}

@keyframes loaderD2 {
    0%{
        transform: translate(-50%, -50%) rotate (0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate (-360deg);
    }
}*/



body {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

header nav {
    margin: 0 20px 10px;
    display: flex;
    justify-content: flex-end;
    color: #a4a5a5;
}

header nav ul {
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

header nav ul a {
    margin-left: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 3s ease-out;

    text-transform: uppercase;
    text-decoration: none;
    
    display: inline-block;
    position: relative;
}

header nav ul a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
  
header nav ul a:hover:after { 
    width: 100%; 
    left: 0; 
}

.btn-contacto {
    padding: 10px 20px;
    background-color: #fff;
}

.btn-contacto:hover {
    animation-name: opacidad;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes opacidad {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .5;
    }
}

header.bg-img {
    background-image: url(/images/bg03.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    animation: slideBg 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden;
    animation-direction: alternate;
}

@keyframes slideBg {
    0% {
        background-image: url(/images/bg03.jpg);
    }
    25% {
        background-image: url(/images/bg03.jpg);
    }
    50% {
        background-image: url(/images/bg-4.jpg);
    }
    100% {
        background-image: url(/images/bg-4.jpg);
    }
}

header p {
    color: #a4a5a5;
}

/*LOADER*/

.loader {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.lds-ring {
    display: inline-block;
    position: relative;
    top:50px;
    width: 80px;
    height: 80px;
    z-index: 100;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(29, 243, 222) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/*MAIN*/

main section {
    text-align: justify;
    color: #a4a5a5;
    height: 100vh;
    background-color: #f1f1f1;
}

main section h3 span {
    font-size: 2rem;
    color: #6babae;
    letter-spacing: 2px;
}

main .cuadradito {
    background-color: #6babae;
}


main .coloriza {
    filter: saturate(10%);
    transition: filter 1s ease-out;
}
  
main .coloriza:hover {
    filter: saturate(100%);
    animation: crescendo 1s ease;
    animation-fill-mode: forwards;  
}

@keyframes crescendo {
    0%   {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}


main h2 {
    color: #6babae;
    transition: color 1s ease-out;
}

main h2:hover {
    color: #a4a5a5;
}

main section.bg-quote {
    background: url(/images/bg-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main section#services p {
    color: #a4a5a5;
}

main section#services h3 {
    color: #6babae;
}

main section#mision{
    background-color: #03120e;
}

main section#esquema h4{
    color: #6babae;
}

main section#benefits.bg-benefits {
    background: url(/images/bg-2.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    animation: slideBg1 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden;
    animation-direction: alternate;
}

@keyframes slideBg1 {
    0% {
        background-image: url(/images/bg-2.jpg);
    }
    25% {
        background-image: url(/images/bg-2.jpg);
    }
    50% {
        background-image: url(/images/bg-6.jpg);
    }
    100% {
        background-image: url(/images/bg-6.jpg);
    }
}

main section#contact.bg-contact {
    background: url(/images/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

main section#contact p {
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.58);
    outline: none;
}

main section#contact select {
    outline: none;
}

main section#contact textarea {
    outline: none;
    transition: 0.5s ease-in-out;
}

main section#contact textarea:focus{
    background-color: #fff;
}

main section#contact input {
    outline: none;
    transition: 0.5s ease-in-out;
}
  
main section#contact input:focus{
    background-color: #fff;
}

main section .btn-btn {
    background-color: #6babae;
    border: 2px solid #6babae;
    outline: none;
}

main section .btn-btn:hover {
    background-color: #fff;
    border: 2px solid #6babae;
    color: #6babae;
}

div {
   border: 1px solid red;
}

/* Whatsapp*/

.whats-app {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 2%; /*20px*/
    right: 1%; /*15px*/
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}
  
.whats-app:hover {
    color: #FFF;
}

.my-float {
    margin-top: 16px;
}  

/* Instagram*/

.ig-container {
    justify-content: center;
    margin-bottom: 90px;
    height: auto;
}

footer {
    color: #a4a5a5;
}

footer i{
    color: #6babae;
}